*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  min-width: 1200px;
  min-height: 800px;
  gap: 5px;
  padding-left: 61px;
  margin-bottom: 250px;
  margin-right: 60px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: flex-start;
  width: 100%;
  margin-top: 335px;
}

.result__video-container {
  position: relative;
  min-width: 711px;
  width: 100%;
  height: 386px;
}

.result__video-container .preloader {
  position: absolute;
}

.result__video {
  width: 711px;
  height: 386px;
  object-fit: cover;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-weight: 400;
  height: 100%;
  width: 100%;
  gap: 15px;
  padding-right: 24px;
  padding-top: 17px;
}

form.search-form h2 {
  font-weight: 100;
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-style: normal;
}

.content__details {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  height: 100%;
  min-width: 400px;
  margin-top: 218px;
}

.content__list {
  gap: 30px;
}

.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 100%;
  overflow-y: auto;
  padding: 3px 3px;
}

.content__list-container:last-child {
  gap: 34px;
}

.content__list-container .preloader {
  position: absolute;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 31px;
}

.content__list-item {
  min-width: 0;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.content__video-card-description-container {
  flex-grow: 1;
  line-height: 1.21;
  line-clamp: 2;
}

.content__video-card-thumbnail {
  height: 101px;
  min-width: 194px;
  object-fit: cover;
  object-position: center;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed";
  font-size: 18px;
}

.title {
  font-family: Oswald;
  font-size: 75px;
  text-transform: uppercase;
  line-height: 70px;
  letter-spacing: 0.1px;
  margin-bottom: 19px;
  padding-top: 45px;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #ffffff;
}

.content__video-card-title {
  font-family: "Oswald";
  font-size: 30px;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 196px;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 34px;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
}

.search-form__textfield {
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  border: solid #ffffff;
  border-width: 2px 0;
  background: none;
  color: #ffffff;
  min-width: 225px;
  appearance: none;
  padding-top: 3px;
  margin-top: 4px;
}

.search-form__label:hover {
  cursor: pointer;
}

.search-form__textfield::placeholder {
  color: (255 255 255 / 0.7);
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #ffffff;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #ffffff;
  padding: 1px;
  margin-right: 5px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__checkbox-list:hover {
  text-decoration: underline;
}

.button {
  font-family: "Fira Sans Condensed";
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.5px;
  background: none;
  border: 1px solid #ffffff;
  color: #ffffff;
  width: 194px;
  height: 34px;
  cursor: pointer;
}

.search-form__submit-button {
  align-self: flex-end;
}

.more-button {
  width: 100%;
  flex-shrink: 0;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:has(:focus-visible) {
  outline: 3px solid white;
}

.content__card-link {
  display: block;
  cursor: pointer;
}

.content__card-link_current {
  background-color: rgba(84, 80, 80, 1);
}

.content__card-link:active {
  background-color: rgba(84, 80, 80, 1);
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
}

.content__card-link:has(:focus-visible) {
  outline: 1px solid white;
}
